scipy
h5py
imageio
opencv-python-headless
pyyaml
tifffile
ome-zarr
napari[all]
pyqt5
pyqt5.sip
napari-ome-zarr
git+https://github.com/abailoni/speedrun@master#egg=speedrun
git+https://github.com/abailoni/paquo@main#egg=paquo
